<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsb.boilerplate.mapper.MemberMapper">
    <select id="findByLoginId" resultType="com.jsb.boilerplate.model.Member">
        SELECT
            login_id,
            password,
            name,
            email,
            role,
            status,
            refresh_token,
            created_at,
            updated_at
        FROM member WHERE login_id = #{loginId}
    </select>

    <select id="findByRefreshToken" resultType="com.jsb.boilerplate.model.Member">
        SELECT
            login_id,
            password,
            name,
            email,
            role,
            status,
            refresh_token,
            created_at,
            updated_at
        FROM member WHERE refresh_token = #{refreshToken}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
            login_id,
            password,
            name,
            email,
            role,
            status,
            refresh_token,
            created_at,
            updated_at
        ) VALUES (
            #{loginId},
            #{password},
            #{name},
            #{email},
            #{role},
            #{status},
            #{refreshToken},
            #{createdAt},
            #{updatedAt}
        )
    </insert>

    <update id="updateRefreshToken">
        UPDATE member
        SET refresh_token = #{refreshToken},
            updated_at = NOW()
        WHERE login_id = #{loginId}
    </update>

</mapper>
